<%- include('../partials/header') %>
<div class="container form-container">
  <h1>Create a New Event</h1>
  <form action="/events/create" method="POST">
    <div class="form-group">
      <label for="title">Event Title</label>
      <input type="text" id="title" name="title" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        rows="4"
        required
      ></textarea>
    </div>
    <div class="form-group">
      <label for="event_date">Date</label>
      <input type="date" id="event_date" name="event_date" required />
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" id="location" name="location" required />
    </div>
    <div class="form-group">
      <label for="max_attendees">Max Guests</label>
      <input
        type="number"
        id="max_attendees"
        name="max_attendees"
        min="1"
        required
      />
    </div>
    <button type="submit" class="btn">Create Event</button>
  </form>
</div>
<%- include('../partials/footer') %>
