<nav class="navbar">
  <div class="nav-container">
    <div class="nav-brand">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="currentColor"
        viewBox="0 0 256 256"
      >
        <path
          d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z"
        ></path>
      </svg>
      <a
        href="/"
        class="brand-link"
        style="color: inherit; text-decoration: none"
      >
        <span class="brand-text"><%= siteSettings.site_name %></span>
      </a>
    </div>

    <button class="nav-toggle" aria-label="Toggle navigation">
      <span class="hamburger"></span>
    </button>

    <ul class="nav-menu">
      <li class="nav-item">
        <a href="/" class="nav-link">Home</a>
      </li>
      <% if (user) { %>
      <li class="nav-item">
        <a href="/organiser" class="nav-link">Organiser</a>
      </li>
      <li class="nav-item">
        <a href="/attendee" class="nav-link">Attendee</a>
      </li>
      <li class="nav-item">
        <a href="/attendee/my-bookings" class="nav-link">My Bookings</a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a href="/settings" class="nav-link">Settings</a>
      </li>
      <li class="nav-item">
        <a href="/auth/logout" class="nav-link">Logout</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a href="/auth/login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a href="/auth/register" class="nav-link">Register</a>
      </li>
      <% } %>

      <li class="nav-item">
        <button class="theme-toggle" onclick="toggleTheme()">
          <span id="theme-icon"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 256 256"
            >
              <path
                d="M233.54,142.23a8,8,0,0,0-8-2,88.08,88.08,0,0,1-109.8-109.8,8,8,0,0,0-10-10,104.84,104.84,0,0,0-52.91,37A104,104,0,0,0,136,224a103.09,103.09,0,0,0,62.52-20.88,104.84,104.84,0,0,0,37-52.91A8,8,0,0,0,233.54,142.23ZM188.9,190.34A88,88,0,0,1,65.66,67.11a89,89,0,0,1,31.4-26A106,106,0,0,0,96,56,104.11,104.11,0,0,0,200,160a106,106,0,0,0,14.92-1.06A89,89,0,0,1,188.9,190.34Z"
              ></path>
            </svg>
          </span>
        </button>
      </li>
    </ul>
  </div>
</nav>
